---
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<MainLayout title="GSSP">
  <div class="project">
    <h1>Projects</h1>
    <div class="items">
        <div class="project-item">
            <Image
                src={'/images/Browser.png'}
                alt="Project Image"
                width={300}
                height={200}
                format={"webp"}
                quality={100}
            />
          <p style="font-weight: bold;">
            Web Browser 
          </p>
          <p>This web browser is coded in Python 3 and have used PyQT Library. This Library is normally used for GUI, XML handling, SQL Databases in python Programming. The Browser is in its initial stages, more additions are yet to be come..</p>
          <a href="https://github.com/GurusaranSP/Web-Browser">Learn More about this Project</a>
        </div>
        <div class="project-item">
            <Image
                src={'/images/text-editor.png'}
                alt="Project Image"
                width={300}
                height={200}
                format={"webp"}
                quality={100}

            />
          <p style="font-weight: bold;">
            Text- Editor 
          </p>
          <p>This web browser is coded in  Python 3 and have used Tkinter Library. This Library is normally used for GUI in python Programming. The Browser is in its initial stages, more additions are yet to be come..</p>
          <a href="https://github.com/GurusaranSP/Text-Editor">Learn More about this Project</a>
        </div>
        <div class="project-item">
            <Image
                src={'/images/pdf reader.png'}
                alt="Project Image"
                width={300}
                height={200}
                format={"webp"}
                quality={100}

            />
          <p style="font-weight: bold;">
            Your Sub-Header Goes Here
          </p>
          <p>This web browser is coded in  Python 3 and have used pyttsx3, pyPDF2 Libraries. pyttsx3 Library is  used for Text to Speech and pyPDF2 Library is used to retrieve text in this project and this library has additional capabilities as well in python Programming. The Browser is in its initial stages, more additions are yet to be come..</p>
          <a href="https://github.com/GurusaranSP/Pdf-Reader-Audiobook">Learn More about this Project</a>
        </div>
    </div>
  </div>
</MainLayout>
